body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Slider de Home */

.aws-btn {

  --slider-height-percentage: 60%;
  --slider-transition-duration: 525ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #26456f;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
  }

.slider {
  height: 600px;
}

/* Lista de peliculas en Home */

.boxes-movies {
  max-height: 600px;
  overflow: scroll;
  padding-top: 0 !important;
}

/* Spinner */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1a1a1a;
}

.scanner span {
  color: transparent;
  font-size: 5rem;
  position: relative;
  overflow: hidden;
  font-family: monospace;
}

.scanner span::before {
  content: "Makoflix";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 8px solid red;
  overflow: hidden;
  color: red;
  animation: load91371 4s linear infinite;
}

@keyframes load91371 {
  0%, 10%, 100% {
    width: 0;
  }

  10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    border-right-color: transparent;
  }

  11%,21%,31%,41%,51%,61%,71%,81%,91% {
    border-right-color: red;
  }

  60%, 80% {
    width: 100%;
  }
}